# Build outputs
/build-*/
/build/
/**/CMakeFiles/
/**/CMakeCache.txt
/**/cmake_install.cmake
/**/Makefile

# Dependency artifacts
/**/_deps/
/vcpkg_installed/
/vcpkg/
/__pycache__/

# Generated shaders
/data/bgfx/shaders/bin/

# IDE
/.vscode/
